Repository avafloww/Waitingway: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-deploy-server, build-deploy-discord

build-deploy-server:
  image: docker:latest
  stage: build
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  services:
  - name: docker:20-dind
    alias: docker
    command:
    - --tls=false
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  ...

build-deploy-discord:
  image: docker:latest
  stage: build
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  services:
  - name: docker:20-dind
    alias: docker
    command:
    - --tls=false
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  ...

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

v1.2.3: a lot, api6
  Waitingway.Backend.Database/Migrations/20220414075718_AddGameVersionToQueueSessions.Designer.cs
  Waitingway.Backend.Database/Migrations/20220414075718_AddGameVersionToQueueSessions.cs
  Waitingway.Backend.Database/Models/QueueSession.cs
  Waitingway.Backend.Database/Models/RecentlyActiveQueueSession.cs
  Waitingway.Backend.Server/Client/Client.cs
  Waitingway.Backend.Server/Client/ClientManager.cs
  Waitingway.Backend.Server/Program.cs
  Waitingway.Backend.Server/Queue/QueueManager.cs
  Waitingway.Backend.Server/WaitingwayHub.cs
  Waitingway.Dalamud/Network/WaitingwayClient.cs
  Waitingway.Dalamud/Plugin.cs
  Waitingway.Dalamud/Waitingway.Dalamud.csproj
  Waitingway.Protocol/Clientbound/QueueDisplayUpdate.cs
  Waitingway.Protocol/Serverbound/ClientGoodbye.cs
  Waitingway.Protocol/Serverbound/ClientHello.cs
  Waitingway.Protocol/Serverbound/ClientLanguageChange.cs
  Waitingway.Protocol/WaitingwayProtocol.cs
Due: build-deploy-server

update GHA CI
  .github/workflows/build-discord.yml
  .github/workflows/build-server.yml
  .github/workflows/deploy-discord.yml
  .github/workflows/deploy-server.yml
  .gitignore
  Waitingway.sln.DotSettings.user
Due: none

*gently pokes github actions*
  Waitingway.Backend.Database/WaitingwayContext.cs
Due: build-deploy-server, build-deploy-discord

build: target .NET 6.0, Dalamud API 7, update dependencies
  Waitingway.Backend.Database/Waitingway.Backend.Database.csproj
  Waitingway.Backend.Discord/Waitingway.Backend.Discord.csproj
  Waitingway.Backend.Server/Waitingway.Backend.Server.csproj
  Waitingway.Dalamud/Waitingway.Dalamud.csproj
  Waitingway.Dalamud/Waitingway.Dalamud.yaml
  Waitingway.Dalamud/icon.png
  Waitingway.Dalamud/packages.lock.json
  Waitingway.Protocol/Waitingway.Protocol.csproj
Due: build-deploy-server, build-deploy-discord

fix: update parameter for Discord.Net API change
  Waitingway.Backend.Discord/DiscordService.cs
Due: build-deploy-discord

fix: migrate deprecated cache stack construction to new builder pattern
  Waitingway.Backend.Discord/Program.cs
Due: build-deploy-discord

Create CODEOWNERS
  .github/CODEOWNERS
Due: none

build: update dependencies, annotate database models with schema
  Waitingway.Backend.Database/Models/DiscordLinkInfo.cs
  Waitingway.Backend.Database/Models/QueueSession.cs
  Waitingway.Backend.Database/Models/QueueSessionData.cs
  Waitingway.Backend.Database/Models/RecentlyActiveQueueSession.cs
  Waitingway.Backend.Database/Waitingway.Backend.Database.csproj
  Waitingway.Dalamud/Waitingway.Dalamud.csproj
  Waitingway.Dalamud/packages.lock.json
Due: build-deploy-server, build-deploy-discord

build: target .NET 7.0, Dalamud API 8, update dependencies
  Waitingway.Backend.Database/Waitingway.Backend.Database.csproj
  Waitingway.Backend.Discord/Waitingway.Backend.Discord.csproj
  Waitingway.Backend.Server/Waitingway.Backend.Server.csproj
  Waitingway.Dalamud/IpcSystem.cs
  Waitingway.Dalamud/Network/WaitingwayClient.cs
  Waitingway.Dalamud/Waitingway.Dalamud.csproj
  Waitingway.Dalamud/Waitingway.Dalamud.yaml
  Waitingway.Dalamud/packages.lock.json
  Waitingway.Protocol/GuiText.cs
  Waitingway.Protocol/Serverbound/LoginQueueEnter.cs
  Waitingway.Protocol/Waitingway.Protocol.csproj
Due: build-deploy-server, build-deploy-discord

build: update Dockerfiles to target .NET 7
  Waitingway.Backend.Discord/Dockerfile
  Waitingway.Backend.Server/Dockerfile
Due: build-deploy-server, build-deploy-discord

build: revert protobuf-net to 3.1.17
  Waitingway.Backend.Database/Waitingway.Backend.Database.csproj
Due: build-deploy-server, build-deploy-discord

refactor: update for Dalamud v9
  Waitingway.Dalamud/GameHooks.cs
  Waitingway.Dalamud/Gui/ConfigOpenerButtonWindow.cs
  Waitingway.Dalamud/Gui/ConfigWindow.cs
  Waitingway.Dalamud/Gui/LoginQueueWindow.cs
  Waitingway.Dalamud/Handler/LoginQueueHandler.cs
  Waitingway.Dalamud/Network/WaitingwayClient.cs
  Waitingway.Dalamud/Plugin.cs
  Waitingway.Dalamud/Waitingway.Dalamud.csproj
  Waitingway.Dalamud/packages.lock.json
Due: none

Path conditions:
  build-deploy-server: any of: Waitingway.Backend.Database/**, Waitingway.Protocol/**, Waitingway.Backend.Server/**
  build-deploy-discord: any of: Waitingway.Backend.Database/**, Waitingway.Backend.Discord/**
